.App {margin: 3rem 3rem}

.title {font-size: 28px;}

.row {
  display: flex;

  margin-bottom: 2rem;
}

.input-box {
  margin-right: 4rem;
}

.marr4 {
  margin-right: 4rem;
}

.inputbar {
  display: flex;
  align-items: center;
}

.three .input-box:nth-child(2) label {
  color: black
}
.three .input-box:nth-child(2) .input-container {
  border-color: black;
  box-shadow: 0 0 1px black;
  outline: none !important;
}
.three .input-box:nth-child(3) label {
  color: #2962FF
}
.three .input-box:nth-child(3) .input-container {
  border-color: #2962FF;
  box-shadow: 0 0 1px #2962FF;
  outline: none !important;
}
