.App {margin: 3rem 3rem}

.title {font-size: 28px;}

.row {
  display: flex;

  margin-bottom: 2rem;
}

.input-container {
  margin-right: 4rem;
}

/* .input-container label.error {
  color: black;
} */

#one-focus,
#two-focus,
#three-focus {
  outline: none !important;
}

#one-focus {
  border-color: blue;
  box-shadow: 0 0 1px blue;
}

#two-focus {
  border-color: #D32F2F;
  box-shadow: 0 0 1px #D32F2F;
}

#one-hover,
#two-hover {
  border-color: black;
  box-shadow: 0 0 1px black;
}